<!-- Footer -->
<footer class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <h4>About Us</h4>
            <p>We are a team of movie enthusiasts sharing our favorite films and shows. Explore our collection and find your next watch!</p>
        </div>
        <div class="footer-section">
            <h4>Contact</h4>
            <ul>
                <li><a href="mailto:info@example.com">Email Us</a></li>
                <li><a href="https://twitter.com/example" target="_blank">Twitter</a></li>
                <li><a href="https://facebook.com/example" target="_blank">Facebook</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Follow Us</h4>
            <ul>
                <li><a href="https://twitter.com/example" target="_blank">Twitter</a></li>
                <li><a href="https://facebook.com/example" target="_blank">Facebook</a></li>
                <li><a href="https://instagram.com/example" target="_blank">Instagram</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Watchlist Wonders. All rights reserved.</p>
    </div>
</footer>
</body>
</html>